/* css styles */
b,strong {font-weight: bold}

blockquote {
    background-color: #ffffff;
    border-left: 0px solid #ffffff; 
    margin: 0em 0.5em; 
    padding: 0em 0em;
    padding-bottom: 2em;
    text-align: center;
    p{
        font-style: italic;
        font-size: 18px;
        color: #5d5d5d;
    }
  }

.buttons {
    background-color: #ffffff;
    margin: 0em 0; 
    padding: 0em 0em;
    font-size: 18px;
    color: secondary;
    text-align: center;
  }

.mytitle {
    margin-bottom: 0px;
    text-align: center;
    padding: 0em 0em;
    padding-bottom: 1em;
    p{
        font-size: 32px;
        font-weight: bold;
        color: #333;
    }
}

.thesis-page-image {
  display: block;
  width: 100%; 
  height: calc(100vw / 4);
  max-height: calc(100vw / 4); 
  object-fit: cover;
}

.whoami-page-image {
  display: block;
  width: 100%; 
  height: calc(100vw / 7);
  max-height: calc(100vw / 7);
  object-fit: cover;
}


.card {
  float: left;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 250px;
  height: 500px;
  max-width: 250px;
  margin: 16px auto;
  margin-right: 16px;
  text-decoration: none;
  color: inherit;
}

.card-image {
  width: 100%;
  height: 250px;
  max-height: 250px;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 10px;
  text-align: left;
  margin-top: -10px;
  vertical-align: top;
}

.card-date {
  position: absolute; /* Position the date absolutely within the card */
  bottom: 5px;
  right: 10px;
  margin-top: -10px;
  font-size: 15px;
}

